:root {
/* Neutral Colors */
--white: #FFFFFF;
--light-grayish: #DEDDDF;
--dark-grayish: #8E8593;
--very-dark-violet: #21092F;

/* Active State Colors */
--linear-gradient: linear-gradient(90deg, rgba(100,72,254,1) 0%, rgba(96,5,148,1) 77%);
--red: #FF5252;
}

/* Reset Page Default Styles */
html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Page Structure */
main {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    letter-spacing: 2px;
    width: 100%;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 30px;
    height: 100vh;
    width: 100vw;
}

/* Card Section Style */
.card-section {
    background-image: url("./public/images/bg-main-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 60%;
    width: 100%;
}

.cardContainerBack,
.cardContainerFront {
    position: absolute;
    width: min-content;
    color: var(--white);
}

.cardContainerBack > *:not(.cardContainerBack__bgImg),
.cardContainerFront > *:not(.cardContainerFront__bgImg) {
    position: absolute;
}

.cardContainerFront {
    --card-padding: 1rem;
    z-index: 2;
    top: 45%;
    left: 5%;
}

.cardContainerBack {
    top: 5%;
    left: 10%;
}

img {
    max-width: 100%;
    display: block;
}

.cardContainerBack__bgImg,
.cardContainerFront__bgImg {
    width: 300px;
    max-width: revert;
}

.cardContainerBack__cvc {
    top: 45%;
    right: 15%;
}

.cardContainerFront__logo {
    left: var(--card-padding);
    top: var(--card-padding);
}

.cardContainerFront__number {
    left: var(--card-padding);
    top: 55%;
}

.cardContainerFront__name {
    left: var(--card-padding);
    top: 80%;
}

.cardContainerFront__date {
    right: var(--card-padding);
    top: 80%;
}

@media screen and (min-width:400px) {
    .cardContainerFront {
        left: 15%;
    }
    
    .cardContainerBack {
        left: 20%;
    }
}

@media screen and (min-width:500px) {
    .cardContainerBack__bgImg,
    .cardContainerFront__bgImg {
        width: 400px;
    }

    .cardContainerFront {
        top: 60%;
    }
    
    .cardContainerBack {
        left: 10%;
    }

    .cardContainerFront__number {
        font-size: 1.5rem;
    }

    .cardContainerFront__name,
    .cardContainerFront__date,
    .cardContainerBack__cvc {
        font-size: 1.3rem;
    }
}

@media screen and (min-width:600px) {
    .cardContainerBack__bgImg,
    .cardContainerFront__bgImg {
        width: 500px;
    }

    .cardContainerFront {
        top: 70%;
    }

    .cardContainerFront__number {
        font-size: 2rem;
    }

    .cardContainerFront__name,
    .cardContainerFront__date,
    .cardContainerBack__cvc {
        font-size: 1.5rem;
    }
}

@media screen and (min-width:750px) {
    main {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .card-section {
        background-image: url("./public/images/bg-main-desktop.png");
        height: 100%;
        width: 60%;
    }

    .cardContainerBack,
    .cardContainerFront {
        position: relative;
    }

    .cardContainerBack {
        top: 50%;
        left: 50%; 
    }

    .cardContainerFront {
        z-index: 1;
        top: 10%;
        left: 20%;
    } 

    .cardContainerBack__bgImg,
    .cardContainerFront__bgImg {
        width: 300px;
    }

    .cardContainerFront__number {
        font-size: 1rem;
    }

    .cardContainerFront__name,
    .cardContainerFront__date,
    .cardContainerBack__cvc {
        font-size: 1rem;
    }
}

@media screen and (min-width:1024px) {

    .cardContainerBack {
        top: 50%;
        left: 40%; 
    }

    .cardContainerFront {
        top: -15%;
        left: 20%
    }

    .cardContainerBack__bgImg,
    .cardContainerFront__bgImg {
        width: auto;
    }

    .cardContainerFront__number {
        font-size: 2rem;
    }

    .cardContainerFront__name,
    .cardContainerFront__date,
    .cardContainerBack__cvc {
        font-size: 1.5rem;
    } 
}