:root {
/* Neutral Colors */
--white: #FFFFFF;
--light-grayish: #DEDDDF;
--dark-grayish: #8E8593;
--very-dark-violet: #21092F;

/* Active State Colors */
--linear-gradient: linear-gradient(90deg, rgba(100,72,254,1) 0%, rgba(96,5,148,1) 77%);
--red: #FF5252;
}

/* Reset Page Default Styles */
html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #8E8593;
}

/* Page Structure */
main {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    letter-spacing: 2px;
}

/* Card Section Style */
.card-section {
    background-image: url("./public/images/bg-main-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.cardContainerBack,
.cardContainerFront {
    position: relative;
    width: min-content;
    color: var(--white);
}

.cardContainerBack > *:not(.cardContainerBack__bgImg),
.cardContainerFront > *:not(.cardContainerFront__bgImg) {
    position: absolute;
}

.cardContainerFront {
    --card-padding: 2rem;
}

.cardContainerBack__cvc {
    top: 45%;
    right: 15%;
}

.cardContainerFront__logo {
    left: var(--card-padding);
    top: var(--card-padding);
}

.cardContainerFront__number {
    font-size: 1.8rem;
    left: var(--card-padding);
    top: 55%;
}

.cardContainerFront__name {
    left: var(--card-padding);
    top: 80%;
}

.cardContainerFront__date {
    right: var(--card-padding);
    top: 80%;
}