.allInputsContainer {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin: 0 auto;
    width: 80%;
    gap: 10px;
}

.inputItemContainer {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: repeat(2, minmax(0, 1fr));
    gap: 5px;
}

.inputItemContainer:nth-child(1),
.inputItemContainer:nth-child(2) {
    grid-column: span 3;
}

.inputItemContainer:nth-child(3) label {
    white-space: nowrap; 
} 

.inputItemContainer:nth-child(4) input {
    grid-row-start: 2;
} 

.inputItemContainer label {
    align-self: flex-end;
}

.inputItemContainer label {
    color: var(--very-dark-violet);
}

.inputItemContainer input {
    border: solid var(--light-grayish) 1px;
    border-radius: 8px;
    color: var(--very-dark-violet);
    font-family: 'Space Grotesk', sans-serif;
    padding: 10px;
}

.inputItemContainer input:focus {
    border-color: rgba(96,5,148,1); 
    outline: none; 
}

.inputItemContainer input::placeholder {
    color: var(--light-grayish);
    font-family: 'Space Grotesk', sans-serif;
}

/* Styles for medium and large screens */
@media only screen and (min-width:500px) {
        
    .allInputsContainer {
        gap: 20px;
        width: 60%;
    }
}





